/*
Name: Zechariah McDougall
File: styles.css
Date: 10 October 2025
Description: This document is for styling the webpage.
*/





html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  /* Padding is the border of the body and the Width is the width of the body*/
  padding: 20px;
  width: 500px;
  background: #efefef;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}