/*
Name: Zechariah McDougall
File: styles.css
Date: 10 October 2025
Description: This document is for styling the webpage.
*/



/* Box Styles */

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  /* Padding is the border of the body and the Width is the width of the body*/
  padding: 20px;
  width: 500px;
  background: #efefef;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

ul .special{
    background-color: white;
    padding: 30px;
    border-color: purple;
    border-radius: 20px;
}


/* Text Styles */

/* Styling the First Header */
h1 .design-jane{
    color: darkslategray;
    border-style: dotted;
    border-color: purple;
    font-size: 2rem;
}

/* Styling the Second Header */
h2 .design-contact{
    color: darkslategray;
    font-size: 1.5rem;
    font-style: italic;
}

.job-title{
    color: darkslategray;
    font-style: bold;
}

/* Styling the links */


a:link {
    color: green;
}

a:hover {
    color: darkgreen;
    text-decoration: none;
}
